<div class="wrapper">
    <div class="header">
        <div class="header__info">
            <div class="header__title">
                <p>Hello, we are BDС.</p>
            </div>
            <div class="header__subtitle">
                <p>We are a team of developers, designers, illustrators and just artists.</p>
                <p>Here we post our work, in fact, this site is our portfolio, as well as a feedback with us.</p>
            </div>
            <div class="header__text">
                <p>BDC Team</p>
            </div>
        </div>
    </div>
    <div class="main">
        <div class="main__info">
            <div class="main__info title">
                <p>Last updates</p>
            </div>
            <div class="main__info-grid">
                <a class="block" style="display: block;" href="https://www.instagram.com/p/CW4BvL8KWwd/" target="_blank">
                    <div class="block1">
                        <div class="block__img">
                            <img src="../../../assets/images/Last update/Grovemade.jpg" alt="">
                        </div>
                        <div class="block__text">
                            <div class="block__title">
                                <p>Grovemade</p>
                            </div>
                            <div class="block__disc">
                                <p>
                                    Desk Shelf & Wooden Dual Monitor Stand System | Grovemade®
                                </p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>   
    </div>

    <div class="footer">    


    </div>
</div>