<div class="header">
            <!-- <input type="checkbox" name="menu" id="">
            <label for="menu">
                <span class="line-one"></span>
                <span class="line-two"></span>
                <span class="line-three"></span>
            </label> -->
                <ul class="header__logo">
                    <li>
                        <a routerLink="Home"></a>
                    </li>
                </ul>
                <ul class="header__nav">
                    <li class="header__nav list">
                        <a routerLink='Web-development' class="nav__list link">Web development</a>
                    </li>
                    <li class="header__nav list">
                        <a routerLink="UIUX" class="nav__list link">UI & UX</a>
                    </li>
                    <li class="header__nav list">
                        <a routerLink="Drawing" class="nav__list link">Drawing</a>
                    </li>
                    <li class="header__nav list">
                        <a routerLink="Our-team" class="nav__list link">Our Team</a>
                    </li>
                    <li class="header__nav list">
                        <a routerLink="Feedback" class="nav__list link">Feedback</a>
                    </li>
                </ul>
    

</div>